<!DOCTYPE html>
<html>
  <head>
  </head>
  <body background-color="#fffffff" text="#000080" vlink="#ff0000">
    <b>
      <p size="6"></p>
    </b>
    <p align="center">
      <b>
        <p size="6">B</p>
        <p size="4">ERSHIRE </p>
        <p size="6">H</p>
        <p size="4">ATHAWAY </p>
        <p size="2">INC.
        <br>
        3555 Farnam Street
        <br>
        </p>
        <br>
        Official Home Page
      </b>
    </p>
    <hr>
    <center>
      <table>
      <tbody>
        <tr>
          <td height="55" valign="top" width="50%">
            <ul>
              <li>
                <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/p">A message from Warren E. Buffett</a>
              </li>
            </ul>
          </td>
          <td>
            <ul>
              <li>
                <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/a">News Releases from Berkshire Hataway and from Warren Buffett</a>
              <br>
              <p size="1">Updated November 18, 2022</p>
              </li>
            </ul>
          </td>
        </tr>
          <tr>
          <td height="55" valign="top" width="50%">
            <ul>
              <li>
                <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/p">Annual & Interium Reports</a>
              <br>
              <p size="1">Updated November 5, 2022</p>
              </li>
            </ul>
          </td>
          <td>
            <ul>
              <li>
                <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/a">News Releases from Berkshire Hataway and from Warren Buffett</a>
              <br>
              <p size="1">Updated November 18, 2022</p>
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
      </table>
    </center>
  </body>
</html>