<!DOCTYPE html>
<html>
    <head>
        <!-- METADATA!!! -->
    </head>
    <body>
        <form>
            <ul>
                <li>
                    <label for="textInput">More Text</label>
                    <input type="text" placeholder="First Name" id="textInput" name="textInput" />
                </li>
                <li>
                    <label for ='aButton'>Button</label>
                    <input type="button" value="Button" id="aButton"/>
                </li>
                <li>
                    <label for="aCheckbox">I'm loving this</label>
                    <input type="checkbox" id="aCheckbox" value="love"/>
                    <label for="aCheckbox">Please stop talking</label>
                    <input type="checkbox" id="aCheckbox" value="stop talking"/>
                </li>
                <li>
                    <label for="aDate">Date</label>
                    <input type="date" id="aDate"/>
                </li>
                <li>
                    <label for="aFile">File</label>
                    <input type="file" id="aFile"/>
                </li>
                <li>
                    <label for="aRadio">Radio</label>
                    <input type="radio" id="aRadio" />
                </li>
                <li>
                    <label for="aRange">Range</label>
                    <input type="range" id="aRange"/>
                </li>
                <li>
                    <label for="aSubmit">Submit</label>
                    <input type="submit" id="aSubmit"/>
                </li>
            </ul>
        </form>
    </body>
</html>






