<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
    
        <title>My page!! LIVE!</title>
        <link rel="stylesheet" href="/css" />
      </head>
      <body>
        <!-- header!!! -->

        <header>
        </header>
          <!-- navbar !!!! -->

        <!-- main content!!!! -->
        
        <main>
       
            <!-- aside!!!! -->
            
            <aside>
              </aside>
        </main>

        <!-- footer!!! -->

        <footer>
        </footer>
    </body>
</html>






