<!DOCTYPE html>
<html>
    <head>
        <!-- METADATA!!! -->
    </head>
    <body>
        <!-- <form>
            <fieldset> -->
                <p>Don't you love this class?</p>
                <form >
                    <input type="checkbox" id="yes" name="howClassIsGoing" value="yes">
                    <label for="yes">Yes</label><br>
                    <input type="checkbox" id="no" name="howClassIsGoing" value="no">
                    <label for="no">No</label><br>
                    <input type="radio" id="kinda" name="howClassIsGoing" value="kinda">
                    <label for="kinda">Kinda</label><br><br>
                    <input type="submit" value="Submit">
                  </form>
            <!-- </fieldset>
        </form> -->
    </body>
</html>






